<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, :onBlur => "fetchUrl()" %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript" defer>
  function fetchUrl() {
    var url = document.getElementById( "site_url" ).value;
    $.ajax({
        type: 'GET',
        url: "/sites/get_title?url=" + url,
        success: function(data){
            $("#site_title").val(data);
        },
        dataType: 'text'
    });
  }
</script>